// Texts
$white-text: #ffffff;
$white-30-text: rgba(#ffffff, .3);
$black_text: #000000;
$grey-light-text: #a3a3a3;
$photoshop-text: #31c5f0;
$indesign-text: #ff408c;
$illustrator-text: #ff7f18;
$xd-text: #ff2bc2;
$acrobat-text: #e41e25;
$html-text: #e44d26;
$css-text: #2062af;
$sass-text: #cf649a;
$bootstrap-text: #563d7c;
$js-text: #e6a329;
$angular-text: #dd1b16;
$git-text: #de4c36;

// Backgrounds
$transparent: rgba(#ffffff, .0);
$white-bg: #ffffff;
$black-bg: #000000;
$black-100-bg: #191919;
$black-90-bg: rgba(#191919, .9);
$black-80-bg: rgba(#191919, .8);
$black-70-bg: rgba(#191919, .7);
$green-bg: #6ab32d;
$blue-bg: #7fc8df;

// Borders
$white-border: #ffffff;
$black-border: #000000;
$photoshop-border: #31c5f0;
$indesign-border: #ff408c;
$illustrator-border: #ff7f18;
$xd-border: #ff2bc2;
$acrobat-border: #e41e25;
$html-border: #e44d26;
$css-border: #2062af;
$sass-border: #cf649a;
$bootstrap-border: #563d7c;
$js-border: #e6a329;
$angular-border: #dd1b16;
$git-border: #de4c36;

// Shadows
$white-shadow: #ffffff;
$black-shadow: #000000;

// Gradients
$green-gradient: #6ab32d;
$blue-gradient: #7fc8df;
$blue-light-gradient: #b1fff6;
$violet-gradient: #be63ff;
$blue-strong-gradient: #1f13ef;

// Mixins
@mixin gradient-linear-vertical ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    background: -o-linear-gradient(top, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 );
}

@mixin gradient-linear-horizontal ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
    background: -o-linear-gradient(left, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(left, $color1 0%, $color2 100%);
    background: linear-gradient(to right, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=1 );
}

@mixin gradient-linear-vertical-text ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    background: -o-linear-gradient(top, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-linear-horizontal-text ($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
    background: -o-linear-gradient(left, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(left, $color1 0%, $color2 100%);
    background: linear-gradient(to right, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}