@font-face {
    font-family: "acid";
    src: url("/assets/config/fonts/acid/AcidsRegular.eot"); /* IE9 Compat Modes */
    src: url("/assets/config/fonts/acid/AcidsRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("/assets/config/fonts/acid/AcidsRegular.otf") format("opentype"), /* Open Type Font */
      url("/assets/config/fonts/acid/AcidsRegular.svg") format("svg"), /* Legacy iOS */
      url("/assets/config/fonts/acid/AcidsRegular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("/assets/config/fonts/acid/AcidsRegular.woff") format("woff"), /* Modern Browsers */
      url("/assets/config/fonts/acid/AcidsRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


// Variables
$acid: 'acid', Arial, Helvetica, sans-serif;
$dosis: 'Dosis', Arial, Helvetica, sans-serif;

// Mixins
@mixin text ($family, $size, $line, $weight) {
  font-family: $family !important;
  font-size: $size !important;
  line-height: $line !important;
  font-weight: $weight !important;
}