<section class="hero-home">

    <video muted loop autoplay poster="./assets/img/poster-video.png">
        <source src="./assets/videos/bg-home.mp4" type="video/mp4">
    </video>

    <div class="container">
        <div class="hero-home__content">
            <p>
                <img src="../../../../assets/img/logo-big.png" alt="Logo AcidTechnology" title="Logo AcidTechnology">
            </p>

            <h3>La diferencia entre un veneno, un medicamento y un narcotico es solo la dosis
                <cite>- Albert Hoffman -</cite>
            </h3>
        </div>
    </div>

    <p class="hero-home__down">
        <button>
            <i class="fas fa-chevron-down"></i>
        </button>
    </p>
</section>