@import '../../../../styles.scss';

.hero-home {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 206px;
        width: 90%;
        margin: auto;

        @media screen and(min-width: $md) {
            width: 80%;
            max-width: 452px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and(min-width: $lg) {
            width: 90%;
            max-width: 1200px;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        img {
            margin-bottom: 38px;

            @media screen and(min-width: $md) {
                margin-bottom: 59.5px;
            }

            @media screen and(min-width: $lg) {
                width: 358px;
                height: auto;
            }
        }
        
        h3 {
            @include text ($acid, 24px, 30px, 500);
            @include gradient-linear-horizontal-text($blue-gradient, $green-gradient);

            @media screen and(min-width: $md) {
                text-align: center;
                @include text ($acid, 26px, 32px, 500);
            }

            @media screen and(min-width: $lg) {
                text-align: center;
                width: 318.3px;
                @include text ($acid, 30px, 36px, 500);
            }

            cite {
                @include text ($dosis, 16px, 22px, 500);
                display: block;
                text-align: right;

                @media screen and(min-width: $md) {
                    margin-top: 30px;
                }
            }
        }
    }

    &__down {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        transition: .2s ease-in-out;
        
        &:hover {
            bottom: 30px;
        }
        
        button {
            i {
                font-size: 18px;
                @include gradient-linear-horizontal-text($blue-gradient, $green-gradient);
                
                @media screen and(min-width: $md) {
                    font-size: 22px;
                }
            }
        }
    }
}