<header>
    <nav>
        <div class="container">
            <div class="nav">
                <p class="nav__logo">
                    <a [routerLink]="['/home']" title="Home AcidTechnology">
                        <img src="./assets/img/logo-small.png" alt="Logo AcidTechnology" title="AcidTechnology">
                    </a>
                </p>
        
                <div class="nav__mobile">
                    <button (click)="btn_menu()" id="btn-menu" type="menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

                <div class="nav__list" id="menu-mobile">
                    <ul>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/my-tools']" title="Mis herramientas">
                                <i class="fas fa-tools"></i>
                                Mis herramientas
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" title="Mi historia">
                                <i class="fas fa-history"></i>
                                Mi historia
                            </a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#portfolio" role="button" aria-expanded="false" aria-controls="portfolio" title="Portfolio">
                                <i class="far fa-images"></i>
                                Portfolio
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="collapse" id="portfolio">
                                <div class="sublist">
                                    <p>
                                        <a href="javascript:;" title="Proyectos de diseño">
                                            <i class="fas fa-pencil-ruler"></i>
                                            Diseño
                                        </a>
                                    </p>
                                    <p>
                                        <a href="javascript:;" title="Proyectos Web">
                                            <i class="fas fa-code"></i>
                                            Web
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" title="Contacto">
                                <i class="fas fa-file-signature"></i>
                                Contacto
                            </a>
                        </li>
                        <!-- <li>
                            <a href="javascript:;">Blog</a>
                        </li> -->
                    </ul>

                    <p>created by <span>Juan María Molins Cortés</span></p>
                </div>
            </div>
        </div>
    </nav>
</header>
