@import '../../../../styles.scss';

nav {
    background: $black-70-bg;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    position: fixed;
    padding: 7px 0px;
    z-index: 5;
    
    .nav {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &__logo {
            width: 83px;
            z-index: 1;
        }

        &__mobile {

            @media screen and(min-width: $lg) {
                display: none;
            }
            
            button {
                cursor: pointer;
                
                span {
                    display: block;
                    width: 11px;
                    height: 11px;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    transition: .2s ease-in-out;
                    
                    &:first-of-type {
                        background: $green-bg;
                    }
                    
                    &:nth-of-type(2) {
                        @include gradient-linear-vertical($green-gradient, $blue-gradient);
                    }
                    
                    &:last-of-type {
                        background: $blue-gradient;
                        margin-bottom: 0px;
                    }
                }

                &.show {
                    span {
                        &:nth-of-type(1) {
                            transform: translate(-40px, 16px);
                        }

                        &:nth-of-type(2) {
                            transform: translate(-20px, 0px);
                        }

                        &:nth-of-type(3) {
                            transform: translate(0px, -16px);
                        }
                    }
                }
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 75%;
            height: 100vh;
            position: absolute;
            top: 70px;
            left: -15px;
            background: $black-90-bg;
            padding: 67px 0px;
            box-shadow: 3px 0px 10px $black-shadow;
            transform: translateX(-110%);
            transition: .2s ease-in-out;

            &.show {
                transform: translateX(0%);
            }

            @media screen and(min-width: $md) {
                left: -40px;
                width: 50%;
            }

            @media screen and(min-width: $lg) {
                transform: translateX(0%);
                width: 100%;
                height: auto;
                background: transparent;
                box-shadow: none;
                top: -15px;
                padding: 0px;
            }
            
            ul {
                display: flex;
                flex-direction: column;
                
                @media screen and(min-width: $lg) {
                    flex-direction: row;
                    justify-content: flex-end;
                }

                li {
                    padding-top: 37px;
                    padding-bottom: 7px;
                    padding-left: 15px;
                    position: relative;
                    overflow: hidden;

                    @media screen and(min-width: $lg) {
                        margin-left: 30px;
                    }

                    &:nth-of-type(3) {
                        i {
                            &:nth-of-type(2) {
                                margin-left: 105px;
                                font-size: 16px;
                                height: auto;

                                @media screen and(min-width: $md) {
                                    margin-left: 180px;
                                }

                                @media screen and(min-width: $lg) {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                    
                    &:before,
                    &::after {
                        content: '';
                        display: block;
                        height: 1px;
                        position: absolute;
                        background: $white-bg;

                        @media screen and(min-width: $lg) {
                            background: transparent;
                        }
                    }

                    &::before {
                        bottom: 0px;
                        left: -15px;
                        right: -15px;
                    }

                    &::after {
                        bottom: 0px;
                        left: 50%;
                        right: 50%;
                        transition: .2s ease-in-out;
                    }

                    &:hover::after {
                        bottom: 0px;
                        left: -15px;
                        right: -15px;
                        z-index: 1;
                        position: absolute;
                        @include gradient-linear-horizontal ($green-gradient, $blue-gradient);
                    }

                    &:hover i {    
                        @include gradient-linear-horizontal-text($green-gradient, $blue-gradient);
                    }

                    &:hover i:nth-of-type(1) {
                        @media screen and(min-width: $lg) {
                            right: 0px !important;
                            opacity: 1 !important;
                        }
                    }

                    a {
                        color: $white-text;
                        @include text ($dosis, 22px, 28px, 100);

                        i {
                            width: 28px;
                            height: 28px;
                            transition: .2s ease-in-out;

                            &:nth-of-type(1) {
                                @media screen and(min-width: $lg) {
                                    position: relative;
                                    right: -30px;
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }

            p {
                position: relative;
                bottom: 20px;
                text-align: center;
                color: $white-30-text;
                @include text ($dosis, 11px, 15px, 100);

                @media screen and(min-width: $lg) {
                    display: none;
                }
                
                span {
                    display: block;
                    @include text ($dosis, 14px, 18px, 100);
                }
            }
        }
    }

    .sublist {
        margin-top: 40px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;

        p {
            margin-bottom: 15px;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}
