<div class="about">
    <div class="container">
        <section class="about__content">
            <article class="about__me">
                <h2>Sobre mi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quis exercitationem nostrum voluptate saepe. Culpa perferendis optio enim, laboriosam at dicta nesciunt vero cupiditate assumenda? Veritatis officia obcaecati dolor quidem iste minus eligendi, magni, modi autem harum nobis commodi? Tempore voluptates beatae incidunt, unde natus itaque velit consequuntur, dolorum exercitationem nobis rerum quibusdam, a voluptatum pariatur fugit id explicabo rem eos magni. Perspiciatis adipisci magnam odit eligendi iusto id pariatur, sint a ut accusantium ab impedit necessitatibus. Sit sed illum fuga enim veritatis cum eos quisquam doloremque at officia incidunt, odit optio sapiente, eius ut hic explicabo voluptates placeat animi.</p>
            </article>
            <article class="about__concerns">
                <h2><span>Mis</span> inquietudes</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iste a sapiente perferendis magni enim harum iure, reprehenderit quae commodi sunt id corrupti dolorem eum rem ratione. Nihil aperiam cum id reiciendis? Reiciendis quis ipsum temporibus fugit quo aut! Fugit vitae officiis, quaerat provident amet rem ad ipsa temporibus atque accusantium est distinctio labore? Amet corporis, nihil optio quia minus similique, cumque quasi aliquam nostrum vitae officia veritatis aperiam repellendus consequuntur ab repellat magnam harum nam sunt voluptatum ea labore non in eaque. Pariatur, vitae quidem expedita iste odit quae omnis excepturi ducimus at minus! Quas at hic doloribus excepturi!</p>
            </article>
        </section>
    </div>
</div>
