@import '../../../../styles.scss';

.about {
    background: $black-100-bg;
    padding-top: 100px;

    &__content {
        display: flex;
        flex-direction: column;
        padding-bottom: 72px;
        width: 90%;
        margin: auto;

        @media screen and(min-width: $md) {
            width: 452px;
        }

        @media screen and(min-width: $lg) {
            width: 90%;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__me,
    &__concerns {
        position: relative;

        h2 {
            margin-bottom: 60px;
        }

        p {
            color: $white-text;
        }

        @media screen and(min-width: $lg) {
            flex-basis: calc(50% - 100px);
        }
    }

    &__me {
        &::before {
            content: '';
            background: url('../../../../assets/img/brain-color.png') center center;
            background-size: cover;
            position: absolute;
            top: -150px;
            right: -70px;
            display: block;
            width: 220px;
            height: 170px;

            @media screen and(min-width: $md) {
                right: -130px;
                width: 274px;
                height: 202px;
                top: -150px;
            }

            @media screen and(min-width: $lg) {
                top: 400px;
                right: -50%;
                width: 225px;
                height: 170px;
            }
        }

        h2 {
            margin-left: 20px;
            @include gradient-linear-horizontal-text ($blue-light-gradient, $violet-gradient);

            @media screen and(min-width: $md) {
                margin-left: 80px;
            }
        }

        p {
            margin-bottom: 225px;
        }
    }

    &__concerns {
        @media screen and (min-width: $md) {
            margin-top: 80px;
        }

        @media screen and (min-width: $lg) {
            margin-top: 0px;
        }

        &::before {
            content: '';
            background: url('../../../../assets/img/algae-color.png') center center;
            background-size: cover;
            position: absolute;
            top: -180px;
            left: -180px;
            display: block;
            width: 320px;
            height: 260px;
            transform: rotate(-180deg);

            @media screen and (min-width: $md) {
                left: -274px;
                top: -240px;
                width: 400px;
                height: 340px;
            }

            @media screen and (min-width:$lg) {
                left: -50%;
                width: 233px;
                height: 200px;
                transform: rotate(-80deg);
                top: -100px;
            }
        }

        h2 {
            @include gradient-linear-vertical-text ($blue-light-gradient,$blue-strong-gradient);
            text-align: center;
            margin-right: -100px;

            @media screen and (min-width: $md) {
                margin-right: -80px;
            }

            span {
                display: block;
            }
        }

        p {
            text-align: right;
        }
    }
}