<div class="my-tools">
    <div class="container">
        <div class="accordion" id="accordionTools">
            <section class="my-tools__content">
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#photoshop" aria-expanded="false" aria-controls="photoshop">
                            <img src="./assets/img/tools/photoshop.png" alt="Logo Photoshop" title="Logo Photoshop">
                        </button>
                    </p>
                    <div id="photoshop" class="collapse" aria-labelledby="photoshop" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>Photoshop</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#indesign" aria-expanded="false" aria-controls="indesign">
                            <img src="./assets/img/tools/indesign.png" alt="Logo Indesign" title="Logo Indesign">
                        </button>
                    </p>
                    <div class="collapse" id="indesign" aria-labelledby="indesign" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>indesign</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#illustrator" aria-expanded="false" aria-controls="illustrator">
                            <img src="./assets/img/tools/illustrator.png" alt="Logo Illustrator" title="Logo Illustrator">
                        </button>
                    </p>
                    <div class="collapse" id="illustrator" aria-labelledby="illustrator" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>illustrator</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#xd" aria-expanded="false" aria-controls="xd">
                            <img src="./assets/img/tools/xd.png" alt="Logo xd" title="Logo xd">
                        </button>
                    </p>
                    <div class="collapse" id="xd" aria-labelledby="xd" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>xd</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#acrobat" aria-expanded="false" aria-controls="acrobat">
                            <img src="./assets/img/tools/acrobat.png" alt="Logo acrobat" title="Logo acrobat">
                        </button>
                    </p>
                    <div class="collapse" id="acrobat" aria-labelledby="acrobat" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>acrobat</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#html" aria-expanded="false" aria-controls="html">
                            <img src="./assets/img/tools/html.png" alt="Logo html" title="Logo html">
                        </button>
                    </p>
                    <div class="collapse" id="html" aria-labelledby="html" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>html</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#css" aria-expanded="false" aria-controls="css">
                            <img src="./assets/img/tools/css.png" alt="Logo css" title="Logo css">
                        </button>
                    </p>
                    <div class="collapse" id="css" aria-labelledby="css" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>css</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#sass" aria-expanded="false" aria-controls="sass">
                            <img src="./assets/img/tools/sass.png" alt="Logo sass" title="Logo sass">
                        </button>
                    </p>
                    <div class="collapse" id="sass" aria-labelledby="sass" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>Sass</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#bootstrap" aria-expanded="false" aria-controls="bootstrap">
                            <img src="./assets/img/tools/bootstrap.png" alt="Logo bootstrap" title="Logo bootstrap">
                        </button>
                    </p>
                    <div class="collapse" id="bootstrap" aria-labelledby="bootstrap" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>Bootstrap</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#js" aria-expanded="false" aria-controls="js">
                            <img src="./assets/img/tools/js.png" alt="Logo js" title="Logo js">
                        </button>
                    </p>
                    <div class="collapse" id="js" aria-labelledby="js" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>JavaScript</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#angular" aria-expanded="false" aria-controls="angular">
                            <img src="./assets/img/tools/angular.png" alt="Logo angular" title="Logo angular">
                        </button>
                    </p>
                    <div class="collapse" id="angular" aria-labelledby="angular" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>Angular</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
                <article class="my-tools__tool">
                    <p>
                        <button type="button" data-toggle="collapse" data-target="#git" aria-expanded="false" aria-controls="git">
                            <img src="./assets/img/tools/git.png" alt="Logo git" title="Logo git">
                        </button>
                    </p>
                    <div class="collapse" id="git" aria-labelledby="git" data-parent="#accordionTools">
                        <div class="my-tools__tool-description">
                            <h3>git</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae obcaecati error recusandae dolorem consectetur! Rerum doloremque autem vero placeat enim veniam dignissimos iure quo soluta illo, ipsum tenetur? Iste?</p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>