@import '../../../../styles.scss';

.my-tools {
    background: $black-100-bg;
    overflow: hidden;

    @media screen and (min-width: $md) {
        padding-bottom: 30px;
    }

    @media screen and (min-width: $lg) {
        padding-bottom: 50px;
    }

    &__content {
        width: 90%;
        padding-top: 100px;
        margin: auto;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $md) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__tool {
        padding-bottom: 60px;

        @media screen and (min-width: $md) {
            flex-basis: calc(50% - 20px);
        }

        @media screen and (min-width: $lg) {
            flex-basis: calc(33.3% - 50px);
        }

        p {
            text-align: center;
            margin-bottom: 30px;

            img {
                margin: auto;
                width: auto;
                height: 200px;
                filter: grayscale(100);
                transition: .2s ease-in-out;
    
                &:hover {
                    filter: grayscale(0);
                }
            }
        }

        &-description {
            background: $white-bg;
            padding: 20px;
            text-align: center;
            position: relative;
            border-radius: 5px;

            &.show {
                display: block;
            }
    
            &::before {
                content: '';
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-top: 10px solid transparent;
                border-left: 10px solid transparent;
                border-bottom: 10px solid $white-bg;
            }
    
            h3 {
                @include text ($acid, 36px, 42px, 500);
                margin-bottom: 15px;
            }
    
            p {
                margin-bottom: 10px;
                @include text ($dosis, 16px, 22px, 500);
                text-align: left;
                padding-bottom: 20px;
                border-bottom: 1px solid $black-border;
            }
        }

        // ********************** Photoshop **********************
        &:nth-of-type(1) {
            position: relative;

            h3 {
                color: $photoshop-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -230px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-photoshop.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transition: .5s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 0px;
                    opacity: 0;
                }
            }

            &:hover::before {
                left: -108px;

                @media screen and (min-width: $md) {
                    left: -50px;
                    opacity: 1;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -220px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-photoshop.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(15deg);
                transition: 1s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                right: -100px;
            }
        }

        // ********************** Indesign **********************
        &:nth-of-type(2) {
            position: relative;

            h3 {
                color: $indesign-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -250px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-indesign.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(56deg);
                transition: .2s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 50px;
                    top: 0px;
                    opacity: 0;
                }
            }

            &:hover::before {
                left: -170px;

                @media screen and (min-width: $md) {
                    opacity: 1;
                    left: 120px;
                    transform: rotate(132deg);
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-indesign.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(15deg);
                transition: .5s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                right: -120px;
            }
        }

        // ********************** Illustrator **********************
        &:nth-of-type(3) {
            position: relative;

            h3 {
                color: $illustrator-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -250px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-illustrator.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(56deg);
                transition: .5s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 0px;
                    top: 0px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(18deg);
                left: -152px;
                top: 0px;

                @media screen and (min-width: $md) {
                    left: -50px;
                    opacity: 1;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-illustrator.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: .3s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(24deg);
                right: -140px;
            }
        }

        // ********************** Xd **********************
        &:nth-of-type(4) {
            position: relative;

            h3 {
                color: $xd-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -280px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-xd.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(56deg);
                transition: .2s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 0;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(103deg);
                left: -96px;
                top: 0px;

                @media screen and (min-width: $md) {
                    opacity: 1;
                    left: 150px;
                    transform: rotate(224deg);
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-xd.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: .7s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(24deg);
                right: -140px;
            }
        }

        // ********************** Acrobat **********************
        &:nth-of-type(5) {
            position: relative;

            h3 {
                color: $acrobat-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -280px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-acrobat.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(56deg);
                transition: .8s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 0px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(28deg);
                left: -64px;
                top: 0px;

                @media screen and (min-width: $md) {
                    left: -50px;
                    opacity: 1;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-acrobat.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: 1.4s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(287deg);
                right: -140px;
            }
        }

        // ********************** Html **********************
        &:nth-of-type(6) {
            position: relative;

            h3 {
                color: $html-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -280px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-html.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(56deg);
                transition: .8s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 0px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(-78deg);
                left: -137px;
                top: 0px;

                @media screen and (min-width: $md) {
                    left: 100px;
                    opacity: 1;
                    transform: rotate(0deg);
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-html.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: 1.3s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(287deg);
                right: -111px;
                top: -20px;
            }
        }

        // ********************** Css **********************
        &:nth-of-type(7) {
            position: relative;

            h3 {
                color: $css-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -280px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-css.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(56deg);
                transition: .8s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 50px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(150deg);
                left: -137px;
                top: 0px;

                @media screen and (min-width: $md) {
                    opacity: 1;
                    left: -53px;
                    transform: rotate(-30deg);
                    top: 0px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-css.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: 1.3s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(-30deg);
                right: -120px;
                top: -10px;
            }
        }

        // ********************** Sass **********************
        &:nth-of-type(8) {
            position: relative;

            h3 {
                color: $sass-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -280px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-sass.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(56deg);
                transition: 1s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 0px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(150deg);
                left: -137px;
                top: 0px;

                @media screen and (min-width: $md) {
                    opacity: 1;
                    left: 150px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-sass.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: .9s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(-120deg);
                right: -120px;
                top: -10px;
            }
        }

        // ********************** Bootstrap **********************
        &:nth-of-type(9) {
            position: relative;

            h3 {
                color: $bootstrap-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -580px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-bootstrap.png') left center;
                background-size: cover;
                display: block;
                width: 500px;
                height: 200px;
                transform: rotate(150deg);
                transition: 1s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 0px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(150deg);
                left: -250px;
                top: 0px;

                @media screen and (min-width: $md) {
                    opacity: 1;
                    left: -100px;
                    transform: rotate(30deg);
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-bootstrap.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: .8s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(-40deg);
                right: -100px;
                top: -10px;
            }
        }

        // ********************** JS **********************
        &:nth-of-type(10) {
            position: relative;

            h3 {
                color: $js-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -280px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-js.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(150deg);
                transition: .7s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 50px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(150deg);
                left: -100px;
                top: 0px;

                @media screen and (min-width: $md) {
                    left: 100px;
                    opacity: 1;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-js.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: 1.3s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(-40deg);
                right: -100px;
                top: -10px;
            }
        }

        // ********************** Angular **********************
        &:nth-of-type(11) {
            position: relative;

            h3 {
                color: $angular-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -280px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-angular.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(150deg);
                transition: .7s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 50px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(0deg);
                left: -100px;
                top: 0px;

                @media screen and (min-width: $md) {
                    left: -30px;
                    transform: rotate(40deg);
                    opacity: 1;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-angular.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: 1.7s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(-50deg);
                right: -120px;
                top: -10px;
            }
        }

        // Git
        &:nth-of-type(12) {
            position: relative;

            h3 {
                color: $angular-text;
            }

            &::before {
                content: '';
                position: absolute;
                left: -280px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-git.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(150deg);
                transition: 1.5s ease-in-out;

                @media screen and (min-width: $md) {
                    left: 0px;
                    opacity: 0;
                }
            }

            &:hover::before {
                transform: rotate(150deg);
                left: -100px;
                top: 0px;

                @media screen and (min-width: $md) {
                    left: 100px;
                    transform: rotate(264deg);  
                    opacity: 1;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: -240px;
                top: 40px;
                background: url('../../../../assets/img/decos-tools/deco-git.png') left center;
                background-size: cover;
                display: block;
                width: 200px;
                height: 200px;
                transform: rotate(0deg);
                transition: 1s ease-in-out;

                @media screen and (min-width: $md) {
                    display: none;
                }
            }

            &:hover::after {
                transform: rotate(100deg);
                right: -100px;
                top: -10px;
            }
        }
    }
}