@import '../../../../styles.scss';

.hero-tools {
    background: url('../../../../assets/img/bg-white.jpg') left center;
    background-size: cover;
    display: block;
    height: 100vh;
    position: relative;

    &::before {
        content: '';
        z-index: 2;
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 183px;
        @include gradient-linear-vertical ($transparent, $black-100-bg);
    }

    &.clouds {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 0;

        img {
            position: absolute;
            bottom: 0px;
            max-width: 100%;
            animation: clouds calc(8s * var(--i)) linear infinite;
        }
    }

    @keyframes clouds {
        0% {transform: translateX(-100%);}
        100% {transform: translateX(100%);}
    }

    &__content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h1 {
            @include text ($acid, 36px, 42px, 500);
            margin-bottom: 20px;
            letter-spacing: 3px;
            z-index: 2;
            
            span {
                display: block;
            }

            @media screen and (min-width: $md) {
                @include text($acid, 38px, 44px, 100);
            }

            @media screen and (min-width: $lg) {
                @include text($acid, 42px, 48px, 100);
            }
        }

        h3 {
            z-index: 2;
            @include text ($dosis, 16px, 22px, 100);


            @media screen and (min-width: $md) {
                max-width: 75%;
                @include text($dosis, 26px, 32px, 100);
            }

            @media screen and (min-width: $lg) {
                max-width: 75%;
                @include text($dosis, 30px, 36px, 100);
            }
        }
    }

    &__down {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        transition: .2s ease-in-out;
        z-index: 3;

        &:hover {
            bottom: 30px;
        }

        button {
            i {
                font-size: 18px;
                color: $white-text;
            }
        }
    }
}