<section class="hero-tools">
    <div class="container">
        <div class="hero-tools__content">
            <h1><span>Mis</span> Herramientas</h1>
            <h3>Aquí están todas las herramientas con las que cada día trabajo y con las que más cómodo me siento</h3>
        </div>

        <p class="hero-tools__down">
            <button>
                <i class="fas fa-chevron-down"></i>
            </button>
        </p>
    </div>
    <div class="hero-tools clouds">
        <img src="./assets/img/clouds/cloud1.png" alt="banner clouds" style="--i:1">
        <img src="./assets/img/clouds/cloud2.png" alt="banner clouds" style="--i:2">
        <img src="./assets/img/clouds/cloud3.png" alt="banner clouds" style="--i:3">
        <img src="./assets/img/clouds/cloud4.png" alt="banner clouds" style="--i:4">
        <img src="./assets/img/clouds/cloud5.png" alt="banner clouds" style="--i:5">
    </div>
</section>