html,
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    border: 0px;
    background: transparent;
    outline: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1 {
    @include text ($dosis, 36px, 42px, 700);
    margin-bottom: 0px;

    @media screen and (min-width: $md) {
        @include text ($dosis, 38px, 44px, 700);
    }

    @media screen and (min-width: $lg) {
        @include text ($dosis, 40px, 46px, 700);
    }

    @media screen and (min-width: $xlg) {
        @include text ($dosis, 42px, 48px, 700);
    }

}

h2 {
    @include text ($dosis, 30px, 36px, 700);
    margin-bottom: 0px;

    @media screen and (min-width: $md) {
        @include text ($dosis, 32px, 38px, 700);
    }

    @media screen and (min-width: $lg) {
        @include text ($dosis, 34px, 40px, 700);
    }

    @media screen and (min-width: $xlg) {
        @include text ($dosis, 36px, 42px, 700);
    }
}

h3 {
    @include text ($dosis, 24px, 30px, 700);
    margin-bottom: 0px;

    @media screen and (min-width: $md) {
        @include text ($dosis, 26px, 32px, 700);
    }

    @media screen and (min-width: $lg) {
        @include text ($dosis, 28px, 34px, 700);
    }

    @media screen and (min-width: $xlg) {
        @include text ($dosis, 30px, 36px, 700);
    }
}

h4 {
    @include text ($dosis, 18px, 24px, 500);
    margin-bottom: 0px;

    @media screen and (min-width: $md) {
        @include text ($dosis, 20px, 26px, 700);
    }

    @media screen and (min-width: $lg) {
        @include text ($dosis, 22px, 28px, 700);
    }

    @media screen and (min-width: $xlg) {
        @include text ($dosis, 25px, 30px, 700);
    }
}

p,
a {
    @include text ($dosis, 16px, 22px, 300);
    margin-bottom: 0px;
}

img {
    width: 100%;
}