@import '../../../../styles.scss';

footer {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        background: url('../../../../assets/img/divider.png') center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -35px;
        left: 0px;
        display: block;
        width: 100vw;
        height: 152px;
        padding-bottom: 100px;
        z-index: 1;

        @media screen and (min-width: $md) {
            width: 50%;
        }
    }

    &::after {
        content: '';
        background: url('../../../../assets/img/divider.png') center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -35px;
        right: 0px;
        width: 50%;
        height: 152px;
        padding-bottom: 100px;
        z-index: 1;
        display: none;

        @media screen and (min-width: $md) {
            display: block;
        }
    }

    .footer {
        background: $black-100-bg;
        padding: 0px 0px 30px 0px;
        position: relative;

        @media screen and (min-width: $md) {
            padding: 50px 0px;
        }
        
        &::before {
            content: '';
            background: url('../../../../assets/img/deco-2-footer.png') center center;
            background-size: cover;
            position: absolute;
            right: -95px;
            top: 250px;
            display: block;
            width: 313px;
            height: 122px;
            transform: rotate(90deg);
    
            @media screen and (min-width: $md) {
                right: -139px;
                top: 350px;
                width: 470px;
                height: 189px;
            }
        }
        
        &::after {
            content: '';
            background: url('../../../../assets/img/deco-1-footer.png') center center;
            background-size: cover;
            position: absolute;
            left: 0px;
            bottom: 0px;
            display: block;
            width: 204px;
            height: 145px;
    
            @media screen and (min-width: $md) {
                width: 320px;
                height: 225px;
            }
        }
        
        &__content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 90%;
            max-width: 452px;
            margin: auto;
            padding-top: 230px;

            @media screen and (min-width: $lg) {
                width: 100%;
                max-width: 1200px;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
    
            ul {
                margin-bottom: 60px;
    
                li {
                    margin-bottom: 18px;
                    position: relative;
    
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 1px;
                        @include gradient-linear-horizontal ($blue-gradient, $green-gradient);
                        transition: .2s ease-in-out;
                    }
    
                    &:hover::before {
                        width: 30px;
                    }
    
                    &:last-of-type {
                        margin-bottom: 0px;
                    }
    
                    a {
                        color: $white-text;
                        @include text ($dosis, 18px, 22px, 100);
                    }
                }
            }
        }
    
        &__logo {
            width: 237px;
            height: auto;
            margin: auto;
            margin-bottom: 54px;
    
            @media screen and (min-width: $md) {
                width: 452px;
            }

            @media screen and (min-width: $lg) {
                margin: 0px;
                padding-bottom: 200px;
            }
        }
    
        &__copy {
            position: relative;
            text-align: right;
            color: $grey-light-text;
            padding-bottom: 14px;

            @media screen and (min-width: $lg) {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
    
            span {
                &:nth-of-type(1) {
                    @include text ($dosis, 16px, 22px, 700);
                    display: block;
                }
    
                &:nth-of-type(2) {
                    @include  text ($dosis, 16px, 22px, 100)
                }
            }
        }
    }
}