<footer>
    <div class="footer">
        <div class="container">
            <div class="footer__content">
                <ul>
                    <li>
                        <a href="javascript:;">Aviso legal</a>
                    </li>
                    <li>
                        <a href="javascript:;">Política de cookies</a>
                    </li>
                    <li>
                        <a href="javascript:;">Política de privacidad</a>
                    </li>
                </ul>

                <p class="footer__logo">
                    <img src="./assets/img/logo-big.png" alt="Logo AcidTechnology" title="Logo AcidTechnology">
                </p>

                <p class="footer__copy">
                    <span>&copy; {{ dateFooter }}</span>
                    <span>Todos los derechos reservados</span>
                </p>
            </div>
        </div>
    </div>
</footer>